/* import global css from global.css file */
@import url(./global.css);

.dashboard-title {
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  .book-grid {
    flex: 0 0 auto;
    width: 25%;
    margin-bottom: 1.5rem;
  }
}

// recently added book sections
.book-cover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 1rem;
}

@media only screen and (max-width: 999px) {
  .book-cover {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 568px) {
  .book-cover {
    grid-template-columns: 1fr;
    gap: 1.5rem 1rem;
  }
}

// all books section
.all-cover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 1rem;
}

@media only screen and (max-width: 999px) {
  .all-cover {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 568px) {
  .all-cover {
    grid-template-columns: 1fr;
    gap: 1.5rem 1rem;
  }
}

// Card containing book details
.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  flex-direction: row;
  background-clip: border-box;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.book-card-image {
  border-radius: 0;
  width: 45%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  flex-shrink: 0;
  min-height: 15rem;
  object-fit: contain;
}

@media (min-width: 576px) {
  .book-card-body {
    padding: 1.9875rem;
  }
}

.book-card-body {
  flex: 1 1 auto;
  padding: 1.5rem 0.5rem;
}

.book-card-badge {
  margin-bottom: 1rem !important;
}

.book-card-title {
  font-weight: 700;
  padding-top: 0.25rem !important;
  margin-bottom: 0 !important;
}

.book-card-stats {
  flex-wrap: wrap;
  margin-top: 1.5rem;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  align-items: center !important;
}

.book-likes {
  padding-right: 0.75rem;
  opacity: 0.8;
  border-right: 1px solid #dddddd;
  height: 25px;
}
