/* import global css from global.css file */
@import url(./global.css);

.carousel {
  margin-bottom: 3rem !important;
  background: var(--white);
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
}

// Carousel image
.carousel img {
  display: block;
  position: relative;
}

.carousel-image {
  width: 220px;
  height: 330px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

/* smaller, dark, rounded square */
.carousel .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
  outline: none !important;
}

.carousel .flickity-prev-next-button:hover {
  background: var(--green);
}

.carousel .flickity-prev-next-button:focus {
  background: var(--green);
  outline: none !important;
}

/* arrow color */
.carousel .flickity-prev-next-button .arrow {
  fill: white;
}
.carousel .flickity-prev-next-button.no-svg {
  color: white;
}

/* position outside */
.carousel .flickity-prev-next-button.previous {
  left: 5px;
}
.carousel .flickity-prev-next-button.next {
  right: 5px;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: var(--green);
}

// carousel-overlay
.overlay-ellipsis {
  top: 10px;
  right: 20px;
  width: 27px;
  height: 27px;
  position: absolute;
  border-radius: 10px;
  background: var(--white);
}

// Carousel-overlay icon
.overlay-ellipsis > img {
  margin: auto;
  padding-top: 5px;
}

// Carousel-overlay styling
.overlay-detail {
  position: absolute;
  width: 220px;
  height: 330px;
  left: 0;
  top: 0;
  z-index: 33;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.607988) 0%,
    #000000 79.7%
  );

  // overlay-close-button
  .overlay-close-button {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 40px;
    height: 40px;
    background: transparent;
  }

  .overlay-close-button > img {
    margin: auto;
    padding-top: 5px;
  }
}

// Content of carousel overlay
.overlay-content {
  display: flex;
  min-width: 0;
  color: var(--white);
  word-wrap: break-word;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 3rem;
  background-clip: border-box;
}
