 /* import global css from global.css file */
 @import url(./global.css);

// .sidebar {
//   position: fixed;
//   top: 5rem;
//   bottom: 0;
//   left: 0;
//   z-index: 100;
//   padding: 48px 0 0;
//   box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.1);
  
// }

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-column {
  flex-direction: column;
  width: 100%;
}

.menu-item {
  display: block;
  padding: 0.65rem 1rem;
}

.menu-heading {
  font-weight: 500;
  flex-grow: 1;
  font-size: 1rem;
  line-height: 16px;
  color: var(--black);
}

.menu-subheading {
  font-weight: 400;
  flex-grow: 1;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

.menu-link:hover {
  color: var(--green) !important;
}
.menu-link.active {
  color: var(--green) !important;
}

.menu-link {
  display: flex;
  cursor: pointer;

  .menu-badge {
    background-color: var(--green);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    width: 1.5rem;
    height: 1.25rem;
  }

  .menu-title {
    font-size: 12px;
    font-weight: 400;
    color: var(--muted);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    width: 1.5rem;
    height: 1.25rem;
  }
}


.menu-divider {
    border: 1px solid #EEEEEE;
    margin-bottom: 1rem;
    width: 100%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


